@tailwind base;
@tailwind components;
@tailwind utilities;

/* Proměnné barevného schématu */
:root {
  --foreground-rgb: 33, 37, 41;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 245, 245, 245;
  --link-color: 0, 123, 255;
  --header-start-color: 239, 149, 51; /* #ef9533 */
  --header-end-color: 240, 161, 84;   /* #f0a154 */
  --primary-color: #38b2ac; /* Teal-600 from Tailwind */
  --secondary-color: #4a5568; /* Gray-700 from Tailwind */
  --highlight-color: #f7941f; /* Nová barva pro nadpis */
  --background-color: rgb(245, 245, 245); /* Barva pozadí */
  font-size: 14px; /* Zmenšení výchozí velikosti písma */
}

/* Základní styly těla stránky */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}

a {
  color: white; /* Nastavení bílé barvy pro odkazy */
  text-decoration: underline;
}

a:hover {
  opacity: 0.8;
}

/* Styly pro hlavičku (Header) */
.header-gradient {
  background: linear-gradient(to right, rgb(var(--header-start-color)), rgb(var(--header-end-color)));
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}

@media (min-width: 768px) {
  .header-container {
    flex-direction: row;
  }
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-title img {
  cursor: pointer;
  width: 48px;
  height: 48px;
}

@media (min-width: 768px) {
  .logo-title img {
    width: 72px;
    height: 72px;
  }
}

/* Styl pro navigační odkazy */
.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  position: static;
  top: auto;
  left: auto;
  width: 100%;
  z-index: 10;
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
    background-color: transparent;
    position: static;
    top: auto;
    left: auto;
    width: auto;
    z-index: auto;
  }
}

.nav-link {
  font-size: 16px;
  color: white;
  padding: 6px 12px;
  transition: color 0.3s, border-bottom-color 0.3s;
  border-bottom: 2px solid transparent;
}

.nav-link:hover {
  color: #ffffff;
  border-bottom-color: white;
}

/* Styly pro domácí stránku */
.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

@media (min-width: 768px) {
  .home-content {
    flex-direction: row;
  }
}

.home-text {
  text-align: left;
  font-size: 16px;
  color: #4a5568;
  margin-bottom: 14px;
  width: 100%;
  z-index: 2; /* Text bude nad obrázkem pozadí */
}

@media (min-width: 768px) {
  .home-text {
    width: 50%;
  }
}

/* Styly pro pozadí obrázku dogs.jpg */
.home-image {
  border-radius: 8px;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(245, 245, 245, 0.7) 40%,
    transparent 100%
  ), url('/images/dogs.jpg') center/cover no-repeat;
  display: flex;
  align-items: flex-start;
  height: 300px;
  position: relative;
  z-index: 1; /* Umožňuje zobrazení nad textem */
}

@media (min-width: 768px) {
  .home-image {
    width: 50%;
    height: 600px;
  }
}

/* Na mobilních zařízeních bude background s dogs.jpg zakrytý textem */
@media (max-width: 767px) {
  .home-content {
    background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.7) 100%,
      transparent 100%
    ), url('/images/dogs.jpg') center/cover no-repeat;
    padding: 20px;
  }

  .home-image {
    display: none; /* Skrýt prvek pro pozadí */
  }

  .home-text {
    z-index: 2; /* Text bude nad obrázkem pozadí */
  }

  .snapshot-container {
    z-index: 2; /* Snapshot bude nad obrázkem pozadí */
  }
}

/* Styly pro nadpisy na domovské stránce */
.home-header {
  color: var(--highlight-color);
}

/* Styly pro seznam s ikonami šeku */
.home-text ul {
  list-style-type: none;
  padding-left: 0;
}

.home-text ul li {
  position: relative;
  padding-left: 1.5rem;
  margin-bottom: 0.4rem;
}

.home-text ul li::before {
  content: '✓';
  position: absolute;
  left: 0;
  color: var(--primary-color);
  font-weight: bold;
}

/* Styly pro snapshot kamery */
.snapshot-container {
  width: 70%;
  max-width: 600px; /* Maximální šířka snapshotu */
}

.snapshot-image {
  width: 100%; /* Nastaví šířku na 100% pro responsivitu */
  border: 2px solid #ccc; /* Ohraničení */
  border-radius: 8px; /* Zakulacení rohů */
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Stín */
}

/* Styly pro komponentu Equipment */
.equipment-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 24px;
}

.equipment-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  padding: 18px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.equipment-item h2 {
  font-size: 20px;
  color: #38b2ac;
  margin-top: 12px;
  font-weight: 600;
}

.equipment-item p {
  font-size: 16px;
  color: #4a5568;
  margin-top: 12px;
}

.equipment-item img {
  border-radius: 8px;
  margin-bottom: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styly pro komponentu TeamMember */
.team-member-container {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 18px;
  text-align: center;
}

.team-member-name {
  font-size: 20px;
  color: #38b2ac;
  margin-top: 12px;
  font-weight: 600;
}

.team-member-role {
  color: #4a5568;
  margin-top: 8px;
  font-weight: bold;
}

.team-member-description {
  color: #4a5568;
  margin-top: 12px;
  text-align: left;
  white-space: pre-line;
}

/* Styly pro stránku kontaktu (Contact) */
.contact-page {
  padding: 12px;
}

.contact-info {
  font-size: 16px;
  color: #4a5568;
}

.contact-header {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #333333;
  margin-bottom: 24px;
}

.contact-image-container {
  position: relative;
  width: 100%;
  padding-bottom: 75%;
}

.contact-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Styly pro Footer */
.footer-container {
  color: white;
  text-align: center;
  padding: 12px;
  background: url('/footer.png') no-repeat center center;
  background-size: cover;
}

.footer-link {
  margin: 0 8px;
  text-decoration: underline;
  color: white;
}

.footer-separator {
  margin: 0 8px;
  color: white;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

@media (max-width: 768px) {
  .footer-container {
    padding: 8px;
  }

  .footer-text {
    font-size: 12px;
  }

  .footer-link {
    font-size: 12px;
  }

  .footer-separator {
    display: none;
  }
}

/* Styly pro kontejner s otevírací dobou (Opening Hours) */
.opening-hours-container {
  color: white;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: url('/footer.png') no-repeat center center;
  background-size: cover;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .opening-hours-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .opening-hours-section {
    margin: 0 20px; /* Rovnoměrné rozložení mezer mezi sekcemi */
  }
}

.opening-hours-section {
  max-width: 300px;
  margin-bottom: 16px;
}

.opening-hours-section p {
  color: black;
  font-size: 18px;
}

/* Utility třídy */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Styly pro výsuvné menu na mobilních zařízeních */
.mobile-nav {
  background: linear-gradient(to right, rgb(var(--header-start-color)), rgb(var(--header-end-color)));
}
